<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/web.css">
    <title>ใบเสร็จการซื้อ</title>
</head>

<body>
<<<<<<< HEAD
    <section class="section">
        <div class="container">
                <div id="print">
            <div class="UpperTitle">
                <img class="logo" src="/logo Chokthawee.png">
=======
    <section class="section" >
        <div class="container"id="print">
            <div class="UpperTitle">
                <img class="logo" src="logo Chokthawee.png">
>>>>>>> ae37008b110a534fae3ff7017bc4bd651b0c125a
                <center>ใบเสร็จการซื้อ</center>
            </div>
            <br>
            <div class="date">
                <label for="dates"><b>วันที่ :</b> <%= new Date().getDate();%>/<%= new Date().getMonth()+1;%>/<%= new Date().getFullYear();%></label>

            </div>
            <p class="all">บริษัท โชคทวีออโต้เซล จำกัด <br>โทร. 038-553092</p>
            <p class="all">นามลูกค้า :
                <%= BillBuy.nameCus %>
            </p>

            <table border="4" align=center width=1500>

                <tr>
                    <th>ทะเบียน</th>
                    <th>จำนวน</th>
                    <th>ราคารวม</th>
                </tr>
                <tr>
                    <td>
                        <%=BillBuy.licensePlate%>
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        <%=BillBuy.price.toLocaleString('en')%>
                    </td>
                </tr>

            </table>
            <p style="text-align: right"><strong>ราคารวมทั้งหมด : <%= BillBuy.price.toLocaleString('en') %> บาท</strong></p>
            <br>
            <br>
            <h6 style="text-align:center">ขอบคุณที่ใช้บริการ</h6>
            <br>
        </div>
            <div style="text-align: center">
                    <button type="button" class="btnAll" onclick="printData()" value="พิมพ์"><a>พิมพ์</a></button>
                <button type="button" class="btnAll" onclick="bill()" value="ใบกำกับภาษี"><a>ใบกำกับภาษี</a></button>
                

        <br>
        <br>
        
        <!--เว้นบรรทัด-->


    </section>
</body>
<script>
    function printData() {
        var printContents = document.getElementById("print").innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;

    }
    function bill() {
            location.href = "/billBuy/invoice";
        }
    
</script>

</html>