<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <!--font-->
    <link rel="stylesheet" type="text/css" href="web.css">
    <!--เชื่อมไฟล์ css-->
  


    <title>ใบกำกับภาษีการซื้อ</title>

    <script>
        function backHome() {
            location.href = "home.html";
        }

        function printData() {
               
               var printContents = document.getElementById("print").innerHTML;
               var originalContents = document.body.innerHTML;
          
               document.body.innerHTML = printContents;
          
               window.print();
          
               document.body.innerHTML = originalContents;
          
                      }
       

    </script>

</head>

<body>
    <section class="section">
            
        <div class="container">
                <div id="print">
            <div class="UpperTitle">
                   
                <img class="logo" src="logo Chokthawee.png">
                <center>ใบกำกับภาษีการซื้อ</center>
            </div>

            <div class="boxmodel">
                <div class="container">
                    <div class="date">
                        <label for="dates">
                            <b>วันที่ : </b><%= new Date().getDate();%>/<%= new Date().getMonth()+1;%>/<%= new Date().getFullYear();%>
                        </label>
                    </div>
                    <p class="all">เลขที่ : 00753</p>
                    <p class="all">บริษัท โชคทวีออโต้เซล จำกัด <br>โทร. 038-553092</p>
                </div>
            </div>

            <table border="4" ALIGN=center width=1500>
                <tr>
                    <th>รายการ</th>
                    <th>จำนวน</th>
                    <th>ราคา</th>
                </tr>
                <tbody> <% var sum = 0 %>
                        <% for(var i=0; i < Taxinvoice.length; i++) { %>
                         
                          <% sum +=  Taxinvoice[i].price %>
                <tr>
                    <td><%= Taxinvoice[i].list %></td>
                    <td><%= Taxinvoice[i].count %></td>
                    <td><%= Taxinvoice[i].price.toLocaleString('en') %></td>
                    
                </tr>
                <% } %>
            </tbody>
            </table>
            <br>
         
            <div style="float:right;font-size: 20px">
               <b> ราคารวม : <%= sum.toLocaleString('en')  %> บาท<br> ภาษี 3% : <%= (sum*0.03).toLocaleString('en')  %> บาท <br> ราคาสุทธิ : <%= ((sum*0.03)+sum).toLocaleString('en')  %> บาท </b>
                </div>
            <br>
            <br>
           
            <br>
            <br>
            <br>
            <p style="float: left;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;________ลงชื่อ________<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (___________________)
            </p>
            <p style="text-align:right; margin-right:200px;">____ลงชื่อพนักงาน____<br> (_________________)
            </p>
            
                </div>
            <div style="float:left">
                <input type="button" class="btnAll" onclick="backHome()" value="กลับหน้าหลัก">
            </div>
            <div style="float:right">
                <input type="button" class="btnAll" onclick="printData()" value="พิมพ์">
            </div>
            <br>
            <br>
    </section>
</body>

</html>